.tab-view {
  height: calc(100vh - 61px);
  width: 100vw;
  display: flex;
  flex-flow: column;
  overflow: auto;

  .tab-page-view {
    display: flex;
    flex: 1;
  }

  .tabbar-row {
    width: 100vw;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: white;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-content: center;

    .tab-item {
      width: 60px;
      height: 60px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-content: center;

      .tab-item-icon {
        width: 60px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-content: center;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .tab-item-name {
        text-align: center;
        color: #dddddd;
      }
      .tab-item-name-selected{
        color: #000000;
      }
    }
  }
}